<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bookmarks</a>
    </div>

  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <a href="<%=@bookmark.url%>"><%=@bookmark.name%></a>
        <small><%=@bookmark.description%></small>
      </h1>
    </div>
  </div>
</div>